<style> 
   .table { border-collapse: collapse; } 
   .table th, td { 
      border-bottom: 1px solid #ddd; 
      width: 250px; 
      text-align: left; 
      align: left; 
   } 
</style> 

<h2>Employee database application!</h2>  
<table class = "table">  
   <tr>  
      <th>First Name</th>  
      <th>Last Name</th>
      <th>Address</th>  
      <th>Email</th> 
      <th>Id</th> 
   </tr>  
   
</table>